<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Project Management App</h1>
    </header>
    <main>
        <section>
            <h2>Welcome to the Project Management App</h2>
            <p>Please <a th:href="@{login}">login</a> or <a th:href="@{registrar}">register</a> to continue.</p>
        </section>
    </main>
</body>
</html>
